

/* Logo-empresa */
image.logotipo{
    width: 1440px;
    height: 414px;
    left: 0px;
    top: 98px;
    
 }

/* (Bienvenidos) */
h1.banner-texto{


    color:white;
    font-family:Arial;
    font-size: 64px;

/* (Banner-empresa) */
 }
 div.banner{
   background-image: url(assets/key-visual.png);
   width: 1440px;
   height: 414px;
   left: 0px;
   top: 150px;
 }
  /*color de titulos secciones-intro */
  h2{
   color: #ff1f1f !important;;
 }
/*formateo de texto Secciones-Pag-Inicio*/
div.container{
   display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 31px;

position: absolute;
height: 444px;
left: 1.39%;
right: 50.69%;
top: 800px;

   
}
/*h2 pagina-inicio*/
h2.Introduccion{

   position: absolute;
   width: 1400px;
   height: 34px;
   left: 540px;
   top: 560px;


}


a:hover{
   color: #FF1F1F !important;

}
/*Enlaces de vuelta a la pagina de Inicio () volver al inicio)*/

a:hover.enlacevolver{
   color: #FF1F1F !important;

}

/* Enlaces-CABECERA (Inicio-quienessomos-contacto-catalogo)*/

a{   text-decoration: none !important;
   color: black!important;
   font-family: Arial!important;
   font-size: 19px!important;

}



/* para adaptar cosas al tamaño de las pantallas */
/*X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { }

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {  }